:root{
    --color-1: #fff;
    --color-2: #000;
    --color-3: #0f0;

    --color-4: #f8f9fa;
}

body{
    background: var(--color-1);
    font-family: circe, sans-serif;
    font-weight: 700;
    font-style: normal;

    margin: 0;
    padding: 0;
}

a{
    color: inherit;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    text-align: center;

    padding: 25px 20%;
    box-sizing: border-box;

    background: var(--color-4);
}

header img{
    height: 100%;
    display: inline;
    transition: transform 0.5s;
}

.main-logo{
    float: left;
}

header img:hover{
    transform: scale(1.2);
}

header a{
    float: right;
    cursor: pointer;
}

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 75px;
    width: 100%;

    padding: 25px;
    text-align: center;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--color-4);
}

main{
    height: 100%;
    width: 100%;
}

.dejokes{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 40%;
    height: 40%;
    
    border-radius: 10px;
}

.joke{
    height: 70%;
    width: 100%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.joke text{
    margin: 25px;
    text-align: left;
}

.invisible{
    color: transparent;
    cursor: pointer;
    text-shadow: 0 0 20px rgba(0,0,0,0.5);
}

#answer:hover{
    color: var(--color-2);
    text-shadow: none;
}

.visible{
    color: var(--color-2);
    text-shadow: none; 
}

.next{
    height: 30%;
    width: 100%;
    text-align: center;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.next button{
    background: var(--color-2);
    color: var(--color-1);

    font-family: circe, sans-serif;
    font-weight: 700;
    font-size: 20px;
    font-style: normal;

    width: 50%;

    padding: 10px;
    
    cursor: pointer;
    border-radius: 5px;

    transition: transform 0.5s;
}

.next button:hover, .next button:active{
    transform: translateY(-7px);
}


@media  screen and (max-width: 1200px) {
    header{
        padding: 25px 5%;
    }

    header img{
        height: 70%;
    }

    .joke{
        font-size: 20px;
        height: 50%;
    }

    .next{
        height: 30%;
    }

    .dejokes{
        width: 100%;
        height: 100%;
    }
}